@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

body{
    font-family: 'Indie Flower', cursive;
    background-image: url("images/email-pattern.png");
    padding: 1.5em 0;
}
.texto{
    background-color: white;
    padding: 10px;
}
.aside article h2{
    color: rgb(156, 19, 247);
    margin: 0;
}
.aside article ul li,a{
    list-style: none;
    text-decoration-line: none;
    color: black;
}
.aside ul {
    padding-inline-start: 0;
}
.aside li a:hover{
    color: red;
}
.aside hr{
    height: 1px;
    background-color: rgb(156, 19, 247);
    border: none;
    margin-block-start: 0;
    margin-block-end: 0.5em;
}

main {
    width: 100%;
    max-width: 70em;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 3fr 1fr;
    margin: 0 auto;
}

main section:nth-of-type(1){
    margin-right: 2em;
}

header {
    width: 100%;
    max-width: 70em;
    margin: 0 auto;
    background-color: white;
}

header ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: fit-content;
    list-style: none;
    padding: 0;
    margin: 0;
}

header ul li {
    margin-left: 10px;
    padding: 5px 3px;
}

header ul li:hover {
    background-color: black;
}

header ul li:hover a {
    color: white;
}

header ul li a {
    text-decoration: none;
    color: black;
}

table{
    background-color: white;
    border-collapse: collapse;
}

table tr th{
    margin: 0;
    height: fit-content;
    background-color:dodgerblue;
    color: white;
    padding: 1em 0;
}

table tr{
    margin: 0;
    text-align: center;
}

table tr:nth-of-type(2) td:nth-of-type(1){
    height: 100%;
}

table tr:nth-of-type(2) td img{
    margin: 0 auto;
    height: 11em;

}

.image{
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    border: 10px double red;
    border-radius: 150px;
    width: 95%;
    margin: 0 auto;
}

table tr div img{
    width: 50%;  
}

table td{
    width: 25em;
    height: 8em;
    padding: 1em;
    box-sizing: border-box;
}

table tr:nth-of-type(4) td:hover p{
    font-size: 16px;
    animation: 1s fontSize ease-in-out;
}

table tr:nth-of-type(5) td:nth-of-type(1){
    position: relative;
    height: 10em;
    display: flex;
}
table tr:nth-of-type(5) td div{
    height: 5em;
}
.box1{
    align-self: flex-start;
    width: 47%;
    border: 15px ridge rgb(52, 153, 52);
}
.box2{
    align-self: flex-end;
    width: 47%;
    background-color: rgb(160, 241, 78);
    border: 15px outset rgb(26, 26, 119);
}

@keyframes fontSize{
    from{
        font-size: 16px;
    }
    to{
        font-size: 10px;
    }
}
footer {
    background-color: black;
    color: white;
    padding: 1px 0px;
}

footer ul {
    list-style: none;
    text-align: center;
    padding: 0;
}
