@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

body{
    font-family: 'Indie Flower', cursive;
    background-image: url("images/email-pattern.png");
    padding: 1.5em 15em;
}
.texto{
    background-color: white;
}
.aside article h2{
    color: rgb(156, 19, 247);
    margin: 0;
}
.aside article ul li,a{
    list-style: none;
    text-decoration-line: none;
    color: black;
}
.aside ul {
    padding-inline-start: 0;
}
.aside hr{
    color: rgb(156, 19, 247);
}
.aside li a:hover{
    color: red;
}
.aside hr{
    height: 1px;
    background-color: rgb(156, 19, 247);
    border: none;
    margin-block-start: 0;
    margin-block-end: 0.5em;
}

main {
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0;
}

header {
    width: 100%;
    margin: 0 auto;
    background-color: white;
    margin: 10px;
}

header ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: fit-content;
    list-style: none;
    padding: 0;
}

header ul li {
    margin-left: 10px;
    padding: 5px 3px;
}

header ul li:hover {
    background-color: black;
}

header ul li:hover a {
    color: white;
}

header ul li a {
    text-decoration: none;
    color: black;
}
