@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

body{
    font-family: 'Indie Flower', cursive;
}

.aside article h2{
    color: rgb(156, 19, 247);
    margin: 0;
}
.aside article ul li,a{
    list-style: none;
    text-decoration-line: none;
    color: black;
}
.aside ul {
    padding-inline-start: 0;
}
.aside hr{
    color: rgb(156, 19, 247);
}
.aside li a:hover{
    color: red;
}
.aside hr{
    height: 1px;
    background-color: rgb(156, 19, 247);
    border: none;
    margin-block-start: 0;
    margin-block-end: 0.5em;
}
