@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

body{
    font-family: 'Indie Flower', cursive;
    background-image: url("images/email-pattern.png");
    padding: 1.5em 15em;
}

main {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

header {
    width: 80%;
    margin: 0 auto;
    background-color: white;
    margin: 10px;
}

header ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: fit-content;
    list-style: none;
    padding: 0;
}

header ul li {
    margin-left: 10px;
    padding: 5px 3px;
}

header ul li:hover {
    background-color: black;
}

header ul li:hover a {
    color: white;
}

header ul li a {
    text-decoration: none;
    color: black;
}